pkgbase = snes9x-emunwa-gtk-git
	pkgdesc = Port of the Snes9x emulator with network access (GTK version)
	pkgver = 1.63.sa1.r0.g77608cb
	pkgrel = 1
	url = https://github.com/Skarsnik/snes9x-emunwa
	arch = x86_64
	license = custom
	makedepends = cmake
	makedepends = git
	makedepends = python
	depends = gtkmm3
	depends = sdl2
	depends = libx11
	depends = libxrandr
	depends = libxv
	depends = libpulse
	depends = alsa-lib
	depends = portaudio
	depends = wayland
	depends = minizip
	depends = hicolor-icon-theme
	source = snes9x-emunwa-gtk-git::git+https://github.com/Skarsnik/snes9x-emunwa.git
	source = git+https://github.com/KhronosGroup/SPIRV-Cross.git
	source = git+https://github.com/mozilla/cubeb.git
	source = git+https://github.com/KhronosGroup/glslang.git
	source = vulkan-headers::git+https://github.com/KhronosGroup/Vulkan-Headers.git
	source = missing-stdint-h.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = snes9x-emunwa-gtk-git
